body{
  font-size: 15px;
  font-family: Macondo;
  padding: 0px;
  margin:0px;
  background: linear-gradient(rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #843f16;
}

/*default condition*/
.start{
 width: 100%;
  margin: auto;
  overflow: hidden;
}
ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
}

/*Header Section*/
header{
  font-family: Poiret One;
  width: 100%;
  background: #4c4c4c;


}
header .start{
  text-align: center;
 display: flex;
  font-size: 20px;
  font-weight: 400;
  margin-top: 2%;

}

header .start h1{
font-family: Poiret One;
  font-size: 20px;
}
header .start h1 a{
  text-transform: uppercase;
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 800;
}
header .start .home{
  flex: 1;
  padding: 1%;
  background: rgb(76, 76, 76);


}
header .start .home:hover{
  background: rgb(35, 35, 35);
  color: #f5f5f5;

}
header .start .home:active{
  box-shadow: #000000 4px 0px 4px 0px;
}
header .start .bio{
flex: 1;
padding: 1%;
background:  rgb(76, 76, 76);
border: 1px solid #ffffff;
}

header .start .contact{
flex: 1;
padding: 1%;
background: rgb(76, 76, 76);

}
header .start .contact:hover{
  background: rgb(35, 35, 35);
  color: #f5f5f5;

}
header .start .contact:active{
  box-shadow: #000000 4px 0px 4px 0px;
}
header .start .cv{
flex: 1;
padding: 1%;
background: rgb(76, 76, 76);


}
header .start .cv:hover{
  background: rgb(35, 35, 35);
  color: #f5f5f5;

}
header .start .cv:active{
  box-shadow: #000000 4px 0px 4px 0px;
}
/*The information section*/
#information{
  font-size: 27px;
 align-items: center;
  margin-left: 10%;
  margin-bottom: 5%;
  width: 80%;
  margin-top: 5%;
  display: flex;
  background: rgba(85, 172, 238, 0.2);
  color: #f5f5f5;


  border-radius: 3%;
}
#information .start{

 width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
}
#information .start nav ul li{
  font-size: 25px;
  flex-direction: row;
 margin-left: 10%;
  margin-top: 1%;

}
/*footer section*/
footer{
  font-size: 15px;
    font-weight: 600;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #f5f5f5;
    background-color: #000000;
    text-align: center;

}
footer nav ul{
  display: flex;
}
footer nav ul li{
  flex-direction: row;
  width: 15%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

/*media queries*/
@media (max-width: 1000px){





  .start .home h1{
    font-size: 18px;
  }
  .start .bio h1{
    font-size: 18px;
  }
  .start .contact h1{
    font-size: 18px;
  }
  .start .cv h1{
    font-size: 18px;


  }
  #information{
    margin-top: 7%;
    margin-bottom: 7%;
  }
  #information .start nav ul li{

    text-align: left;
     margin-top: 4%;
     font-size: 20px;
  }
footer{

    width: 100%;
    align-items: center;
    text-align: center;

  }
  footer h1{
    font-size: 29px;
  }
  footer nav ul li{
    width: 15%;
  }
}
@media (max-width: 760px){
  .start{
    text-align: center;
    align-items: center;



  }
  .start .home h1{
    font-size: 14px;
  }
  .start .bio h1{
    font-size: 14px;
  }
  .start .contact h1{
    font-size: 14px;
  }
  .start .cv h1{
    font-size: 14px;

  }
  #information{
    margin-top: 7%;
    margin-bottom: 7%;
  }
  #information .start nav ul li{
    text-align: left;
    margin-top: 4%;

    font-size: 18px;
  }
footer{

    width: 100%;
    align-items: center;
    text-align: center;

  }
  footer h1{
    font-size: 25px;
  }
  footer nav ul li{
    width: 15%
  }
}
@media (max-width: 580px){
  .start{
    text-align: center;
    align-items: center;



  }
  .start .home h1{
    font-size: 14px;
  }
  .start .bio h1{
    font-size: 14px;
  }
  .start .contact h1{
    font-size: 14px;
  }
  .start .cv h1{
    font-size: 14px;

  }
  #information{
    margin-top: 9%;
    margin-bottom: 9%;
  }
  #information .start nav ul li{
    text-align: left;
    margin-top: 8%;

    font-size: 13px;
  }
footer{

    width: 100%;
    align-items: center;
    text-align: center;

  }
  footer h1{
    font-size: 20px;
  }
  footer nav ul li{
    width: 25%;
  }
}
