body{
  font-size: 1em;
  font-family: Didact Gothic;
  padding: 0px;
  margin:0px;
  background: linear-gradient(rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #843f16;
}

/*default condition*/
.start{
 width: 100%;
  margin: auto;
  overflow: hidden;
}
.button_1{
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 45px;
  padding-right: 45px;
  color: #ffffff;
}
ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
}
/*Header Section*/
header{
  font-family: Poiret One;
  background: rgba(76, 76, 76, 0);
  width: 100%;


}
header .start{
  text-align: center;
 display: flex;
  font-size: 1em;
  font-weight: 400;
  margin-top: 2%;

}

header .start h1{
  font-family: Poiret One;
  font-size: 1.2em;
}
header .start h1 a{
  text-transform: uppercase;
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 800;
  padding: 25%;
}
header .start .home{
  flex: 1;
  padding: 1%;
  background: rgba(76, 76, 76, 0);


}
header .start .home h1 a:hover{
  background: rgb(35, 35, 35);
  color: #f5f5f5;

}

header .start .bio{
flex: 1;
padding: 1%;
background: rgba(76, 76, 76, 0);
}
header .start .bio h1 a:hover{
  background: rgb(35, 35, 35);
  color: #f5f5f5;
}
header .start .bio h1 a{
  color:  #f5f5f5;

}

header .start .contact{
flex: 1;
padding: 1%;
background: rgba(76, 76, 76, 0);
border: 1px solid #ffffff;
}
header .start .cv{
flex: 1;
padding: 1%;
background: rgba(76, 76, 76, 0);

}
header .start .cv h1 a:hover{
  background: rgb(35, 35, 35);
  color: #f5f5f5;

}

/*The information section*/
#information{
  font-size: 1.8em;
 align-items: center;
  margin-left: 10%;
  margin-bottom: 5%;
  width: 80%;
  margin-top: 5%;
  display: flex;
  background: rgba(85, 172, 238, 0.2);
  color: #f5f5f5;
  border-radius: 3%;
}
#information .start{

 width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}
#information .start .message{
  align-items: center;
  text-align: center;
}
#information .start .message input{
  padding: 2%;
  height: 20px;
  width: 59%;
}
#information .start .message textarea{
  width:63%;
}
#information .start .message button{
  width:34%;
}
/*footer section*/
footer{
    font-size: 1em;
    font-weight: 600;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #f5f5f5;
    background-color: #000000;
}
footer h1{
  margin-left: 6%;
}
footer nav ul{
  margin-left: 5%;
  display: flex;

}
footer nav ul li{
  flex-direction: row;
  width: 10%;
}
.fa {
  padding: 20px;
  font: normal normal normal 20px/1 FontAwesome;
  width: 30px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.2;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
/*media queries*/
@media (max-width: 1000px){
  .start{
    text-align: center;
    align-items: center;



  }
  .start .home h1{
    font-size: 1em;
  }
  .start .bio h1{
    font-size: 1em;
  }
  .start .contact h1{
    font-size: 1em;
  }
  .start .cv h1{
    font-size: 1em;
  }
  #information{
    margin-top: 7%;
    margin-bottom: 7%;
  }
  #information .start{

   width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  #information .start .message{
    margin-top: 7%;
    margin-bottom: 7%;
    align-items: center;
    text-align: center;
  }
  #information .start .message input{
    padding-top: 14px;
    margin-left: 1%;
    margin-right: 1%;
    height: 20px;
    width: 59%;
  }
  #information .start .message textarea{
    width:63%;
  }
  #information .start .message button{
    width:34%;
  }
footer{

    width: 100%;


  }
  footer h1{
    margin-left: 6%;
    font-size: 0.9em;
  }
  footer nav ul li{
    width: 15%;
  }
}
@media (max-width: 760px){
  .start{
    text-align: center;
    align-items: center;



  }
  .start .home h1{
    font-size: 1em;
  }
  .start .bio h1{
    font-size: 1em;
  }
  .start .contact h1{
    font-size: 1em;
  }
  .start .cv h1{
    font-size: 1em;
  }
  #information{
    margin-top: 8%;

    margin-bottom: 8%;
  }
  #information .start{

   width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  #information .start .message{
    margin-top: 7%;
    margin-bottom: 7%;
    align-items: center;
    text-align: center;
  }
  #information .start .message input{
    padding-top: 14px;
    margin-left: 3%;
    margin-right: 3%;
    height: 25px;
    width: 59%;
  }
  #information .start .message textarea{
    width:63%;
  }
  #information .start .message button{
    width:24%;
  }
footer{

    width: 100%;


  }
  footer h1{
    margin-left: 7%;
  }
  footer h1{
    font-size: 1.6em;
  }
  footer nav ul li{
    width: 15%
  }
}
@media (max-width: 580px){
  .start{
    text-align: center;
    align-items: center;



  }
  .start .home h1{
    font-size: 0.7em;
  }
  .start .bio h1{
    font-size: 0.7em;
  }
  .start .contact h1{
    font-size: 0.7em;
  }
  .start .cv h1{
    font-size: 0.7em;
  }
  #information{
    margin-top: 8%;

    margin-bottom: 8%;
  }
  #information .start{

   width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  #information .start .message{
    align-items: center;
    text-align: center;
  }
  #information .start .message input{
    padding-top: 14px;
    margin-left: 3%;
    margin-right: 3%;
    height: 25px;
    width: 64%;
  }
  #information .start .message textarea{
    width:68%;
  }
  #information .start .message button{
    width:23%;
    padding: 1%;
  }
footer{

    width: 100%;


  }
  footer h1{
    margin-right: 7%;
  }
  footer h1{
    font-size: 0.8em;
  }
  footer nav ul li{
    width: 25%;
    margin-right: 5%;
  }

}
