body{
  font-size: 15px;
  font-family: Macondo;
  padding: 0px;
  margin:0px;
  background: linear-gradient(rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #843f16;
}

/*default condition*/
.start{
 width: 100%;
  margin: auto;
  overflow: hidden;
}
.button_1{
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 45px;
  padding-right: 45px;
  color: #ffffff;
}
ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
}
/*Header Section*/
header{
  font-family: Oregano;
  background: #46a8c3;
  width: 100%;


}
header .start{
  text-align: center;
 display: flex;
  font-size: 20px;
  font-weight: 400;


}

header .start h1{
  font-family: Oregano;
  font-size: 20px;
}
header .start h1 a{
  text-transform: uppercase;
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 800;
}
header .start .home{
  flex: 1;
  padding: 1%;
  background: rgb(56, 30, 6);
  border: 1px solid #381e06;

}
header .start .home:hover{
  background-color: #271504;
  color: #f5f5f5;

}
header .start .home:active{
  box-shadow: #000000 4px 0px 4px 0px;
}
header .start .bio{
flex: 1;
padding: 1%;
background: #381e06;
border: 1px solid #381e06;
}
header .start .bio:hover{
  background-color: #271504;
  color: #f5f5f5;
}
header .start .bio h1 a{
  color:  #f5f5f5;

}
header .start .bio:active{
  box-shadow: #000000 4px 0px 4px 0px;
}
header .start .contact{
flex: 1;
padding: 1%;
background: #4C2501;
border: 1px solid #4C2501;
}
header .start .cv{
flex: 1;
padding: 1%;
background: #381e06;
border: 1px solid #381e06;

}
header .start .cv:hover{
  background-color: #271504;
  color: #f5f5f5;

}
header .start .cv:active{
  box-shadow: #000000 4px 0px 4px 0px;
}
/*The information section*/
#information{
  font-size: 26px;
 align-items: center;
  margin-left: 10%;
  margin-bottom: 5%;
  width: 80%;
  margin-top: 5%;
  display: flex;
  background: rgba(85, 172, 238, 0.2);
  color: #f5f5f5;


  border-radius: 3%;
}
#information .start{

 width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}
#information .start .message{
  align-items: center;
  text-align: center;
}
#information .start .message input{
  padding: 2%;
  height: 20px;
width: 59%;
}
#information .start .message textarea{
  width:63%;
}
#information .start .message button{
  width:34%;
}
/*footer section*/
footer{
  font-size: 15px;
    font-weight: 600;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #f5f5f5;
    background-color: #000000;
    text-align: center;
    align-items: center;

}
footer nav ul{
  display: flex;
}
footer nav ul li{
  flex-direction: row;
  width: 15%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
/*media queries*/
@media (max-width: 1000px){
  .start{
    text-align: center;
    align-items: center;



  }
  .start .home h1{
    font-size: 18px;
  }
  .start .bio h1{
    font-size: 18px;
  }
  .start .contact h1{
    font-size: 18px;
  }
  .start .cv h1{
    font-size: 18px;
  }
  #information{
    margin-top: 7%;
    margin-bottom: 7%;
  }
  #information .start{

   width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  #information .start .message{
    margin-top: 7%;
    margin-bottom: 7%;
    align-items: center;
    text-align: center;
  }
  #information .start .message input{
    padding-top: 14px;
    margin-left: 1%;
    margin-right: 1%;
    height: 20px;
    width: 59%;
  }
  #information .start .message textarea{
    width:63%;
  }
footer{

    width: 100%;
    align-items: center;
    text-align: center;

  }
  footer h1{
    align-items: center;
    text-align: center;
  }
  footer ul{
    align-items: center;
    text-align: center;
  }

}
@media (max-width: 760px){
  .start{
    text-align: center;
    align-items: center;



  }
  .start .home h1{
    font-size: 15px;
  }
  .start .bio h1{
    font-size: 15px;
  }
  .start .contact h1{
    font-size: 15px;
  }
  .start .cv h1{
    font-size: 15px;
  }
  #information{
    margin-top: 8%;

    margin-bottom: 8%;
  }
  #information .start{

   width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  #information .start .message{
    margin-top: 7%;
    margin-bottom: 7%;
    align-items: center;
    text-align: center;
  }
  #information .start .message input{
    padding-top: 14px;
    margin-left: 3%;
    margin-right: 3%;
    height: 25px;
    width: 59%;
  }
  #information .start .message textarea{
    width:63%;
  }
footer{

    width: 100%;
    align-items: center;
    text-align: center;

  }
  footer h1{
    align-items: center;
    text-align: center;
  }
  footer ul{
    align-items: center;
    text-align: center;
  }

}
@media (max-width: 580px){
  .start{
    text-align: center;
    align-items: center;



  }
  .start .home h1{
    font-size: 13px;
  }
  .start .bio h1{
    font-size: 13px;
  }
  .start .contact h1{
    font-size: 13px;
  }
  .start .cv h1{
    font-size: 13px;
  }
  #information{
    margin-top: 8%;

    margin-bottom: 8%;
  }
  #information .start{

   width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  #information .start .message{
    align-items: center;
    text-align: center;
  }
  #information .start .message input{
    padding-top: 14px;
    margin-left: 3%;
    margin-right: 3%;
    height: 25px;
    width: 64%;
  }
  #information .start .message textarea{
    width:68%;
  }
footer{

    width: 100%;
    align-items: center;
    text-align: center;

  }
  footer h1{
    align-items: center;
    text-align: center;
  }
  footer ul{
    align-items: center;
    text-align: center;
  }

}
