body{
  font-size: 1em;
  font-family: Didact Gothic;
  padding: 0px;
  margin:0px;
  background: linear-gradient(rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #843f16;
}

/*default condition*/
.start{
 width: 100%;
  margin: auto;
  overflow: hidden;
}
ul{

  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
}

/*Header Section*/
header{
  font-family: Poiret One;
  background: rgba(76, 76, 76, 0);
  width: 100%;


}
header .start{
  text-align: center;
 display: flex;
  font-size: 1em;
  font-weight: 400;
  margin-top: 2%;

}

header .start h1{
 font-family: Poiret One;
  font-size: 1.2em;
}
header .start h1 a{
  text-transform: uppercase;
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 800;
  padding: 25%;
}
header .start .home{
  flex: 1;
  padding: 1%;
  background: rgba(76, 76, 76, 0);

}
header .start .home h1 a:hover{
  background: rgb(35, 35, 35);
  color: #f5f5f5;

}

header .start .bio{
flex: 1;
padding: 1%;
background: rgba(76, 76, 76, 0);
}
header .start .bio h1 a:hover{
  background: rgb(35, 35, 35);
  color: #f5f5f5;

}

header .start .contact{
flex: 1;
padding: 1%;
background: rgba(76, 76, 76, 0);
}
header .start .contact h1 a:hover{
  background: rgb(35, 35, 35);
  color: #f5f5f5;

}

header .start .cv{
flex: 1;
padding: 1%;
background: rgba(76, 76, 76, 0);
border: 1px solid #ffffff;
}

/*The information section*/
#information{
  font-size: 1.3em;

  margin-left: 10%;
  margin-bottom: 5%;
  width: 80%;
  margin-top: 5%;
  display: flex;
  background: rgba(85, 172, 238, 0.2);
  color: #f5f5f5;


  border-radius: 3%;
}
#information .start{
  display: flex;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
}
#information .start .info{
  flex: 1;
}
#information .start .info h1{
 text-transform: uppercase;
 font-size: 1.1em;
 margin-left: 10%;

}
#information .start .info nav ul{
 margin-top: 2%;
 margin-left: 14%;
}
#information .start .info nav ul li{

 margin-left: 7%;
  margin-top: 2%;
  font-size: 1em;

}
#information .start .skill{
  flex: 1;
}
#information .start .skill h1{
 text-transform: uppercase;
 font-size: 1.3em;
 margin-left: 13%;
}
#information .start .skill nav ul{
  margin-top: 2%;
  margin-left: 19%;
}
#information .start .skill nav ul li{

 margin-left: 7%;
  margin-top: 2%;
  font-size: 1em;

}
/*footer section*/
footer{
    font-size: 1em;
    font-weight: 600;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #f5f5f5;
    background-color: #000000;
}
footer h1{
  margin-left: 6%;
}
footer nav ul{
  margin-left: 5%;
  display: flex;
  list-style: none;
}
footer nav ul li{
  flex-direction: row;
  width: 10%;
}
.fa {
  padding: 20px;
  font-size: 2em;
  text-rendering: auto;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.2;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
/*media queries*/
@media (max-width: 1000px){
    .start .home h1{
    font-size: 1em;
  }
  .start .bio h1{
    font-size: 1em;
  }
  .start .contact h1{
    font-size: 1em;
  }
  .start .cv h1{
    font-size: 1em;
  }
  #information{
    margin-top: 7%;
    margin-bottom: 7%;
  }
  #information .start .info h1{
    text-align: left;
    font-size: 1.1em;
  }
  #information .start .info nav ul li{
    text-align: left;
    margin-top: 4%;
    font-size: 1em;
  }
  #information .start .skill h1{
    text-align: left;
    font-size: 1.1em;
  }
  #information .start .skill nav ul li{
    text-align: left;
    margin-top: 4%;
    font-size: 1em;
  }
  footer{

      width: 100%;


    }
    footer h1{
      margin-left: 6%;
      font-size: 0.9em;
    }
    footer nav ul li{
      width: 15%;
    }
}
@media (max-width: 760px){
    .start .home h1{
    font-size: 0.9em;
  }
  .start .bio h1{
    font-size: 0.9em;
  }
  .start .contact h1{
    font-size: 0.9em;
  }
  .start .cv h1{
    font-size: 0.9em;
  }
  #information{
    margin-top: 7%;
    margin-bottom: 7%;
  }
  #information .start .info h1{
    text-align: left;
    font-size: 1em;

  }
  #information .start .info nav ul li{
    text-align: left;
    margin-top: 4%;
    font-size: 1em;
  }
  #information .start .skill h1{
    text-align: left;
    font-size: 1em;
  }
  #information .start .skill nav ul li{
    text-align: left;
    margin-top: 4%;
    font-size: 1em;
  }
  footer{

      width: 100%;


    }
    footer h1{
      margin-left: 7%;
    }
    footer h1{
      font-size: 1.6em;
    }
    footer nav ul li{
      width: 15%
    }
}
@media (max-width: 580px){
    .start .home h1{
    font-size: 0.7em;
  }
  .start .bio h1{
    font-size: 0.7em;
  }
  .start .contact h1{
    font-size: 0.7em;
  }
  .start .cv h1{
    font-size: 0.7em;
  }
  #information{
    margin-top: 34%;
    margin-bottom: 34%;
  }
  #information .start .info h1{
    text-align: left;
    font-size: 0.7em;
  }
  #information .start .info nav ul li{
    text-align: left;
    margin-top: 4%;
    font-size: 0.5em;
  }
  #information .start .skill h1{
    text-align: left;
    font-size: 0.7em;
  }
  #information .start .skill nav ul li{
    text-align: left;
    margin-top: 4%;
    font-size: 0.5em;
  }
  footer{

      width: 100%;


    }
    footer h1{
      margin-right: 7%;
    }
    footer h1{
      font-size: 0.8em;
    }
    footer nav ul li{
      width: 25%;
      margin-right: 5%;
    }
  .fa-twitter {

    background: #55ACEE;
    color: white;
    padding-bottom: 25px;
    padding-right: 25px;
    height: 20px;
    width: 20px;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
    height: 20px;
    width: 20px;
    padding-bottom: 25px;
    padding-right: 25px;
  }
}
