body{
  font-size: 1em;
  font-family: Didact Gothic;
  padding: 0px;
  margin:0px;
  background: linear-gradient(rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #f5f5f5;
}
/*default condition*/
.start{
 width: 100%;
  margin: auto;
  overflow: hidden;
}
ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
}
/*Header Section*/
header{

  background: #46a8c3;
  width: 100%;
  padding-top: 1%;

}
.start{
  width: 100%;

  text-align: center;
  font-size: 1em;
  font-weight: 400;
}
 .start h1{

  text-align: center;
  font-size: 2em;
  font-family: Poiret One;
}
/*the information section*/
#information{
  align-items: center;
  margin-left: 10%;
  margin-bottom: 5%;
  width: 80%;
  margin-top: 5%;
  display: flex;
  background: rgba(85, 172, 238, 0.2);
  color: #f5f5f5;
  text-align: center;
  border-radius: 3%;


}
#information .box img{

  transition: transform 1s;
}
#information .box img:hover{

  -webkit-transform: scale(1.1);


}
#information .start h1{
  font-weight: bold;
  color: #f5f5f5;
  margin-top: 7%;
  margin-bottom: 12%;
  font-size: 1.9em;
}
#information .start .box img{
  margin-top: 2%;
  width: 35%;
  border-radius: 90px;
}
#information .start nav ul{
  display: flex;
  margin-top: 2%;
  margin-bottom: 5%;
  padding: 0px;
}
#information .start nav ul li{
  flex-direction: row;
  width: 30%;
  display: inline;
  padding: 0 20px 0 20px;
}
#information .start nav ul li a{
  text-transform: uppercase;
  background-color: #ffffff;
  font-size: 1em;
  padding: 15px 30px;
  text-decoration: none;
  border: solid 3px #843f16;
  border-radius: 20px;
  font-weight: 800;
  color: #843f16;


}
#information .start nav ul a:hover{
  background-color: #843f16;
  color: #f5f5f5;

}
#information .start a:active{
  box-shadow: #000000 0px 0px 5px 3px;
}
/*footer section*/
footer{
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #f5f5f5;
  background-color: #000000;
}
footer h1{
  margin-left: 6%;
}
footer nav ul{
  margin-left: 5%;
  display: flex;

}
footer nav ul li{
  flex-direction: row;
  width: 10%;
}
.fa {
  padding: 20px;
  font-size: 1.9em;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.2;

}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
/*media queries*/
@media (max-width: 1000px){

  .start{
    text-align: center;
    align-items: center;

  }
  #information .start h1{
    font-weight: bold;
    color: #f5f5f5;
    margin-top: 7%;
    margin-bottom: 3%;
    font-size: 1.9em;
  }
  #information .start nav ul{
    padding-right: 19%;
    margin-top: 2%;
    margin-left: 5%;
    flex-direction: column;
  }
  #information .start nav ul li{
    text-align: center;
    margin: 8% 0;
    width: 100%;
  }
  #information .start nav ul li a{
    border-radius: 20px;
    font-size: 0.8em;
  }
  #information .start .box img{
    width: 50%;
    border-radius: 90px;
  }
  footer h1{
    font-size: 1.5em;
  }
  footer nav ul li{
    width: 15%;
}
}
@media (max-width: 760px){

  .start{
    text-align: center;
    align-items: center;

  }
  #information .start h1{
    font-weight: bold;
    color: #f5f5f5;
    margin-top: 7%;
    margin-bottom: 3%;
    font-size: 1.5em;
  }
  #information .start nav ul{
    padding-right: 19%;
    margin-top: 2%;
    margin-left: 5%;
    flex-direction: column;
  }
  #information .start nav ul li{
    text-align: center;
    margin: 8% 0;
    width: 100%;
  }
  #information .start nav ul li a{
    border-radius: 20px;
    font-size: 0.8em;
  }
  #information .start .box img{
    width: 50%;
    border-radius: 90px;
  }

  footer h1{
    margin-right: 7%;
    font-size: 1.3em;
  }
  footer nav ul li{
    width: 25%;
    margin-right: 5%;
  }
}
@media (max-width: 580px){

  .start{
    text-align: center;
    align-items: center;

  }
  #information {
    margin-top: 23%;
    margin-bottom: 22%;
  }
  #information .start h1{
    font-weight: bold;
    color: #f5f5f5;
    margin-top: 8%;
    margin-bottom: 5%;
    font-size: 1.3em;
  }
  #information .start nav ul{
    padding-right: 19%;
    margin-top: 2%;
    margin-left: 4%;
    flex-direction: column;
  }
  #information .start nav ul li{
    text-align: center;
    margin: 10% 0;
    width: 100%;
  }
  #information .start nav ul li a{
    ;
    border-radius: 20px;
    font-size: 0.8em;
  }
  #information .start .box img{
    width: 50%;
    border-radius: 90px;
  }
  footer h1{
    margin-right: 7%;
    font-size: 1.3em;
  }
  footer nav ul li{
    width: 25%;
    margin-right: 5%;
  }
  .fa-twitter {

    background: #55ACEE;
    color: white;
    padding-bottom: 25px;
    padding-right: 25px;
    height: 20px;
    width: 20px;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
    height: 20px;
    width: 20px;
    padding-bottom: 25px;
    padding-right: 25px;
  }
}
