
body{
  font-size: 15px;
  font-family: Macondo;
  padding: 0px;
  margin:0px;
  background: linear-gradient(#192231,#494e68,#6c648b,#b6a19e);
  color: #f5f5f5;
}
/*default condition*/
.start{
 width: 100%;
  margin: auto;
  overflow: hidden;
}
ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
}
/*Header Section*/
header{

  background: #74AFAD;
  width: 100%;
  padding-top: 1%;

}
.start{
  width: 100%;

  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
 .start h1{

  text-align: center;
  font-size: 32px;
  font-family: Oregano;
}
/*the information section*/
#information{
  align-items: center;
  margin-left: 10%;
  margin-bottom: 5%;
  width: 80%;
  margin-top: 5%;
  display: flex;
  background-color: #52b2bf;
  color: #f5f5f5;
  text-align: center;
  border-radius: 18%;


}
#information .box{

  transition: transform 1s;
}
#information .box:hover{

  -webkit-transform: scale(1.1,1.1);

}
#information .start h1{
  font-weight: bold;
  color: #f5f5f5;
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: 30px;
}
#information .start .box img{
  margin-top: 10px;
  width: 222px;
  border-radius: 90px;
}
#information .start nav ul{
  display: flex;
  margin-top: 3%;
  margin-bottom: 5%;
  padding: 0px;
}
#information .start nav ul li{
  flex-direction: row;
  width: 30%;
  display: inline;
  padding: 0 20px 0 20px;
}
#information .start nav ul li a{
  text-transform: uppercase;
  background-color: #ffffff;
  font-size: 15px;
  padding: 15px 30px;
  text-decoration: none;
  border: solid 4px #843f16;
  border-radius: 20px;
  font-weight: 800;
  color: #843f16;


}
#information .start nav ul a:hover{
  background-color: #843f16;
  color: #f5f5f5;

}
#information .start a:active{
  box-shadow: #000000 0px 0px 5px 3px;
}
/*footer section*/
footer{
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #f5f5f5;
  background-color: #000000;
  text-align: center;

}
/*media queries*/
@media (max-width: 760px){

  .start{
    text-align: center;
    align-items: center;

  }

  #information .start nav ul{
    padding-right: 19%;
    margin: 25% 0;
    flex-direction: column;
  }
  #information .start nav ul li{
    text-align: center;
    margin: 12% 0;
    width: 100%;
  }
  #information .start nav ul li a{
    border-radius: 20px;
    font-size: 11px;
  }
  #information .start .box img{
    width: 50%;
    border-radius: 90px;
  }
}
